/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
	font-family: 'MotorBlock';
	src: url('Motorblock.ttf');
}

.text {
	-fx-font-family: "MotorBlock";
}