/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
	font-family: 'MotorBlock';
	src: url('https://github.com/R3ALF4KT/GigChat/blob/master/GigChat/bin/application/Motorblock.ttf?raw=true');
}

.text {
	-fx-font-family: "MotorBlock";
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
   -fx-shape : " ";    
   -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
   -fx-shape : " ";    
   -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar:vertical .track{
    -fx-background-color :derive(#303030,10.0%);
    -fx-border-color :derive(#303030,10.0%);
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
