/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
	font-family: 'MotorBlock';
	src: url('https://github.com/R3ALF4KT/GigChat/blob/master/GigChat/bin/application/Motorblock.ttf?raw=true');
}

.text {
	-fx-font-family: "MotorBlock";
}